@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>


<p>This is a virtual site where you can visit a home from any where.
    Imagine you have to move somewhere far where you do not know anyone. You wonder
    how you are going to find new home their. You can not afford to go visit that place and search for right home 
    to rent. Well imagine you could go visit the property online, take virtual tours and actually talk to the agent,
    in matter on seconds. Then if you really like it, you can apply online for approval and submit your 
    all documntes their. Wouldn't be awesome? In addition, if you get approved then you can sign the lease, Online!!!
    This is what exactly we do here, We are taking the whole experince of rental to completly virtual. You can still go visit 
    the place personally once you see the property on this site. Here we are alowing you an easy option to done your job without 
    any hassel. Thank you and so much love from our team to everyone.</p>
