@model canome0._1.Models.Condos
@{
    ViewBag.Title = "Condos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="~/Content/StyleSheet.css">
<link rel="stylesheet" href="~/Content/w3.css">
<script id="ze-snippet" src="https://static.zdassets.com/ekr/snippet.js?key=f8acf49e-8bcb-4a3f-a0a0-54f87a943a65"></script>


<hr />
<div class="row">
    <div class="col-md-3">
        <div class="contain">
            <img src="~/images/toronto2.jpg" class="thumbnail" alt="all ads logo">
            <a href="../Home" class="btn btn-primary">All ads</a>
        </div>
    </div>
    <div class="col-md-3">
        <div class="contain">
            <img src="~/images/house2.jpg" class="thumbnail" alt="Apartment logo">
            <a href="../../Home/House" class="btn btn-primary">Houses</a>
        </div>
    </div>
    <div class="col-md-3">
        <div class="contain">
            <img src="~/images/apartment2.jpg" class="thumbnail" alt="Apartment logo">
            <a href="../../Home/Apartments" class="btn btn-primary">Apartments</a>
        </div>
    </div>
    <div class="col-md-3">
        <div class="contain">
            <img src="~/images/filter2.jpg" class="thumbnail" alt="Apartment logo">
            <a href="../../Home/Filter" class="btn btn-primary">Filter</a>
        </div>
    </div>
</div>
<hr />
<div class="row">
    <div class="col-md-offset-5">
        <h2>Condos</h2>
    </div>
</div>
<hr />
<div class="row">
    <div class="col-lg-6">
        <div class="w3-card">
            <div class="container bcontent">
                <div class="card" style="width: 500px;">
                    <div class="row no-gutters">
                        <div class="col-sm-5">
                            <img class="card-img" src="../../../images/house.jpg">
                        </div>
                        <div class="col-sm-7">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-6">
                                        <h4 class="card-title" style="color: green">$2300</h4>
                                    </div>
                                    <div class="col-md-6">
                                        <button type="button" class="btn btn-default btn-sm">
                                            <span class="glyphicon glyphicon-heart-empty"></span> Fav
                                        </button>
                                    </div>
                                </div>
                                <p class="card-text">
                                    205 King st S, Toronto
                                </p>
                                <p class="card-text">Available from 1 March 2021</p>
                                <div class="column">
                                    <img src="../../../images/bedroomIcon.png" width="30" height="20">
                                    <img src="../../../images/bathIcon.png" width="30" height="20">
                                </div>
                                <p class="card-text">3 Bed/ 2 Bath</p>
                                <a href="Home/ViewAds" class="btn btn-primary">View more</a>
                                <p class="card-text"><small class="text-muted">Posted 3 mins ago</small></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="w3-card">
            <div class="container bcontent">
                <div class="card" style="width: 500px;">
                    <div class="row no-gutters">
                        <div class="col-sm-5">
                            <img class="card-img" src="../../../images/house.jpg">
                        </div>
                        <div class="col-sm-7">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-6">
                                        <h4 class="card-title" style="color: green">$2300</h4>
                                    </div>
                                    <div class="col-md-6">
                                        <button type="button" class="btn btn-default btn-sm">
                                            <span class="glyphicon glyphicon-heart-empty"></span> Fav
                                        </button>
                                    </div>
                                </div>
                                <p class="card-text">
                                    205 King st S, Toronto
                                </p>
                                <p class="card-text">Available from 1 March 2021</p>
                                <div class="column">
                                    <img src="../../../images/bedroomIcon.png" width="30" height="20">
                                    <img src="../../../images/bathIcon.png" width="30" height="20">
                                </div>
                                <p class="card-text">3 Bed/ 2 Bath</p>
                                <a href="Home/ViewAds" class="btn btn-primary">View more</a>
                                <p class="card-text"><small class="text-muted">Posted 3 mins ago</small></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<hr />
<div class="row">
    <div class="col-lg-6">
        <div class="w3-card">
            <div class="container bcontent">
                <div class="card" style="width: 500px;">
                    <div class="row no-gutters">
                        <div class="col-sm-5">
                            <img class="card-img" src="../../../images/apartments.jpg">
                        </div>
                        <div class="col-sm-7">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-6">
                                        <h4 class="card-title" style="color:green">$1800</h4>
                                    </div>
                                    <div class="col-md-6">
                                        <button type="button" class="btn btn-default btn-sm">
                                            <span class="glyphicon glyphicon-heart-empty"></span> Fav
                                        </button>
                                    </div>
                                </div>
                                <p class="card-text" style="color:blue">Nice house available for rent</p>
                                <p class="card-text">345 Martindale drive, Burlington</p>
                                <p class="card-text">Available from 1 March 2021</p>
                                <div class="column">
                                    <img src="../../../images/bedroomIcon.png" width="30" height="20">
                                    <img src="../../../images/bathIcon.png" width="30" height="20">
                                </div>
                                <p class="card-text">3 Bed/ 2 Bath</p>
                                <a href="Home/ViewAds" class="btn btn-primary">View more</a>
                                <p class="card-text"><small class="text-muted">Posted 3 mins ago</small></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="w3-card">
            <div class="container bcontent">
                <div class="card" style="width: 500px;">
                    <div class="row no-gutters">
                        <div class="col-sm-5">
                            <img class="card-img" src="../../../images/apartments.jpg">
                        </div>
                        <div class="col-sm-7">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-6">
                                        <h4 class="card-title" style="color:green">$1800</h4>
                                    </div>
                                    <div class="col-md-6">
                                        <button type="button" class="btn btn-default btn-sm">
                                            <span class="glyphicon glyphicon-heart-empty"></span> Fav
                                        </button>
                                    </div>
                                </div>
                                <p class="card-text" style="color:blue">Nice house available for rent</p>
                                <p class="card-text">345 Martindale drive, Burlington</p>
                                <p class="card-text">Available from 1 March 2021</p>
                                <div class="column">
                                    <img src="../../../images/bedroomIcon.png" width="30" height="20">
                                    <img src="../../../images/bathIcon.png" width="30" height="20">
                                </div>
                                <p class="card-text">3 Bed/ 2 Bath</p>
                                <a href="Home/ViewAds" class="btn btn-primary">View more</a>
                                <p class="card-text"><small class="text-muted">Posted 3 mins ago</small></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<hr />
<div class="row">
    <div class="col-lg-6">
        <div class="w3-card">
            <div class="container bcontent">
                <div class="card" style="width: 500px;">
                    <div class="row no-gutters">
                        <div class="col-sm-5">
                            <img class="card-img" src="../../../images/condo.jpg">
                        </div>
                        <div class="col-sm-7">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-6">
                                        <h4 class="card-title" style="color:green">$1400</h4>
                                    </div>
                                    <div class="col-md-6">
                                        <button type="button" class="btn btn-default btn-sm">
                                            <span class="glyphicon glyphicon-heart-empty"></span> Fav
                                        </button>
                                    </div>
                                </div>
                                <p class="card-text">
                                    14 River view st, Oakville
                                </p>
                                <p class="card-text">Available from 1 March 2021</p>
                                <div class="column">
                                    <img src="../../../images/bedroomIcon.png" width="30" height="20">
                                    <img src="../../../images/bathIcon.png" width="30" height="20">
                                </div>
                                <p class="card-text">3 Bed/ 2 Bath</p>
                                <a href="Home/ViewAds" class="btn btn-primary">View more</a>
                                <p class="card-text"><small class="text-muted">Posted 3 mins ago</small></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="w3-card">
            <div class="container bcontent">
                <div class="card" style="width: 500px;">
                    <div class="row no-gutters">
                        <div class="col-sm-5">
                            <img class="card-img" src="../../../images/condo.jpg">
                        </div>
                        <div class="col-sm-7">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-6">
                                        <h4 class="card-title" style="color:green">$1400</h4>
                                    </div>
                                    <div class="col-md-6">
                                        <button type="button" class="btn btn-default btn-sm">
                                            <span class="glyphicon glyphicon-heart-empty"></span> Fav
                                        </button>
                                    </div>
                                </div>
                                <p class="card-text">
                                    14 River view st, Oakville
                                </p>
                                <p class="card-text">Available from 1 March 2021</p>
                                <div class="column">
                                    <img src="../../../images/bedroomIcon.png" width="30" height="20">
                                    <img src="../../../images/bathIcon.png" width="30" height="20">
                                </div>
                                <p class="card-text">3 Bed/ 2 Bath</p>
                                <a href="Home/ViewAds" class="btn btn-primary">View more</a>
                                <p class="card-text"><small class="text-muted">Posted 3 mins ago</small></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--next/ prev page-->
<div class="row">
    <div class="col-lg-offset-4">
        <nav aria-label="...">
            <ul class="pagination">
                <li class="page-item disabled">
                    <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
                </li>
                <li class="page-item"><a class="page-link" href="#">1</a></li>
                <li class="page-item active" aria-current="page">
                    <a class="page-link" href="#">2</a>
                </li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item">
                    <a class="page-link" href="#">Next</a>
                </li>
            </ul>
        </nav>
    </div>
</div>

<p class="vertical" style=" position:fixed; top:400px; left:1600px;">SCROLL DOWN</p>
<img src="~/images/downArrow.png" alt="down arrow" style=" position:fixed; top:520px; left:1596px; height:30px; width:30px; " />

<div class="containerForSearchBar" style="position:fixed; top:70px; left:1460px;">
    <input type="text" placeholder="Search Location...">
    <div class="search"></div>
</div>