@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>

<address>
    308- 145 Queen st S<br />
    Hamilton, ON L8P4R2<br />
    Canada<br />
    <abbr title="Phone":</abbr>
    +1 (365) 336-8910
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:pateldeep00001@gmail.com">pateldeep00001@gmail.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:pradityabhatt@gmail.com">pradityabhatt@gmail.com</a>
</address>